In [1]:
import pandas as pd

# #For Reading Data

In [2]:
df = pd.read_csv(coviddata.csv)

NameError: name 'coviddata' is not defined

In [3]:
df = pd.read_csv('coviddata.csv')

In [4]:
df.head()

   fever  pain  age  noseRunning  breatingDifficulty  probabilityInfection
0     95     0   74            0                   1                     0
1    103     1   45            1                   0                     1
2     96     1   58            1                   0                     1
3    103     1   27            0                   0                     1
4     97     1   58            1                   0                     1

In [5]:
df.tail()

     fever  pain  age  noseRunning  breatingDifficulty  probabilityInfection
594    100     1   82            1                   0                     1
595    100     0   27            1                   0                     1
596     95     1   65            1                   0                     1
597     94     1   31            1                   0                     1
598    103     0   68            0                   0                     1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fever                 599 non-null    int64
 1   pain                  599 non-null    int64
 2   age                   599 non-null    int64
 3   noseRunning           599 non-null    int64
 4   breatingDifficulty    599 non-null    int64
 5   probabilityInfection  599 non-null    int64
dtypes: int64(6)
memory usage: 28.2 KB

In [7]:
df['fever'].value_counts()

94     73
104    62
100    61
103    58
95     57
96     55
97     53
98     49
99     47
101    46
102    38
Name: fever, dtype: int64

In [8]:
df['fever'].value_counts()

94     73
104    62
100    61
103    58
95     57
96     55
97     53
98     49
99     47
101    46
102    38
Name: fever, dtype: int64

In [9]:
data = pd.read_csv('coviddata.csv')

In [10]:
data['fever'].value_counts()

101.314683    1
100.114551    1
99.496414     1
100.064265    1
101.586651    1
             ..
100.730283    1
100.894844    1
99.404258     1
99.989846     1
100.692489    1
Name: fever, Length: 599, dtype: int64

In [11]:
data.head()

,fever,pain,age,noseRunning,breatingDifficulty,probabilityInfection
0,101.995607,0,77,0,1,1
1,98.366432,1,101,0,0,1
2,100.202520,1,94,0,0,1
3,98.612099,0,75,1,0,1
4,100.800088,1,8,0,0,1

In [12]:
data['breathingDifficulty'].value_counts()

KeyError: 'breathingDifficulty'

In [13]:
data['breatingDifficulty'].value_counts()

0    598
1      1
Name: breatingDifficulty, dtype: int64

In [14]:
data.describe()

,fever,pain,age,noseRunning,breatingDifficulty,probabilityInfection
count,599.000000,599.000000,599.000000,599.000000,599.000000,599.0
mean,100.025353,0.469115,51.275459,0.479132,0.001669,1.0
std,1.163775,0.499462,30.272496,0.499982,0.040859,0.0
min,98.004934,0.000000,0.000000,0.000000,0.000000,1.0
25%,99.044718,0.000000,25.000000,0.000000,0.000000,1.0
50%,100.020298,0.000000,51.000000,0.000000,0.000000,1.0
75%,101.036218,1.000000,77.000000,1.000000,0.000000,1.0
max,101.996495,1.000000,102.000000,1.000000,1.000000,1.0

In [15]:
sympdata = pd.read_csv('coviddata.csv')

In [16]:
sympdata.describe()

,fever,pain,age,noseRunning,breatingDifficulty,probabilityInfection
count,599.000000,599.000000,599.000000,599.000000,599.000000,599.000000
mean,99.929073,0.499165,50.834725,0.522538,0.497496,0.445743
std,1.171948,0.500417,30.417019,0.499909,0.500412,0.497463
min,98.005508,0.000000,0.000000,0.000000,0.000000,0.000000
25%,98.915832,0.000000,24.500000,0.000000,0.000000,0.000000
50%,99.790456,0.000000,49.000000,1.000000,0.000000,0.000000
75%,100.931945,1.000000,79.000000,1.000000,1.000000,1.000000
max,101.988146,1.000000,102.000000,1.000000,1.000000,1.000000

# #Train Test Splitting

In [17]:
import numpy as np

In [18]:
def split(data, ratio):
    np.random.seed.42
    shuffeled = np.random.permutation(len(data))

SyntaxError: invalid syntax (<ipython-input-18-2f0034e6ab5f>, line 2)

In [24]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffeled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffeled[:test_set_size]
    train_indices = shuffeled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [25]:
np.random.permutation(9)

array([2, 5, 6, 4, 0, 3, 7, 1, 8])

In [26]:
train, test = data_split(sympdata, 0.2)

In [27]:
train

,fever,pain,age,noseRunning,breatingDifficulty,probabilityInfection
439,100.168398,1,40,0,1,0
145,99.829127,0,98,1,0,0
9,98.933167,1,7,1,0,1
375,98.147221,1,86,1,0,1
522,101.246736,1,80,1,0,0
...,...,...,...,...,...,...
71,100.497991,0,15,1,1,0
106,101.083329,0,64,0,1,0
270,99.031849,0,87,0,1,0
435,98.814021,1,50,1,1,0
102,99.484800,1,6,1,0,0

In [28]:
test

,fever,pain,age,noseRunning,breatingDifficulty,probabilityInfection
110,100.364807,1,57,0,1,0
419,99.497903,0,102,1,0,1
564,101.316073,1,74,1,1,0
77,99.326942,0,74,0,0,1
181,101.835249,1,84,0,1,0
...,...,...,...,...,...,...
371,100.567455,1,35,1,0,1
399,100.312041,0,8,1,0,1
340,99.755035,0,94,0,1,0
148,100.116791,0,16,0,1,0
494,98.903323,1,62,0,0,1

In [36]:
trainArray1 = train[['fever','pain','age','noseRunning','breatingDifficulty']].to_numpy()
testArray1 = test[['fever','pain','age','noseRunning','breatingDifficulty']].to_numpy()

In [37]:
trainArray1

array([[100.168398  ,   1.        ,  40.        ,   0.        ,
          1.        ],
       [ 99.82912744,   0.        ,  98.        ,   1.        ,
          0.        ],
       [ 98.93316687,   1.        ,   7.        ,   1.        ,
          0.        ],
       ...,
       [ 99.03184942,   0.        ,  87.        ,   0.        ,
          1.        ],
       [ 98.81402071,   1.        ,  50.        ,   1.        ,
          1.        ],
       [ 99.48480021,   1.        ,   6.        ,   1.        ,
          0.        ]])

In [39]:
testArray1

array([[100.3648075 ,   1.        ,  57.        ,   0.        ,
          1.        ],
       [ 99.49790345,   0.        , 102.        ,   1.        ,
          0.        ],
       [101.3160733 ,   1.        ,  74.        ,   1.        ,
          1.        ],
       [ 99.32694245,   0.        ,  74.        ,   0.        ,
          0.        ],
       [101.8352492 ,   1.        ,  84.        ,   0.        ,
          1.        ],
       [ 99.49179153,   0.        ,   6.        ,   1.        ,
          0.        ],
       [ 98.07935429,   0.        ,  64.        ,   0.        ,
          0.        ],
       [101.8234901 ,   0.        ,  92.        ,   1.        ,
          0.        ],
       [ 98.79037229,   1.        ,  19.        ,   0.        ,
          0.        ],
       [ 98.65200311,   0.        ,   7.        ,   0.        ,
          1.        ],
       [ 99.49967332,   0.        ,  58.        ,   0.        ,
          0.        ],
       [101.0648588 ,   1.        ,  42.        ,   0.        ,
          1.        ],
       [ 99.59291261,   1.        , 101.        ,   1.        ,
          1.        ],
       [ 98.55322067,   1.        ,  26.        ,   0.        ,
          0.        ],
       [100.8747965 ,   1.        ,  77.        ,   0.        ,
          1.        ],
       [ 99.09448414,   1.        ,  70.        ,   1.        ,
          1.        ],
       [101.3102195 ,   1.        ,   9.        ,   0.        ,
          0.        ],
       [101.9881463 ,   0.        ,  85.        ,   0.        ,
          0.        ],
       [ 99.90602369,   1.        ,  19.        ,   0.        ,
          1.        ],
       [ 98.59971086,   1.        ,  48.        ,   0.        ,
          1.        ],
       [100.4571677 ,   1.        ,   9.        ,   1.        ,
          1.        ],
       [ 98.99907974,   1.        ,  23.        ,   1.        ,
          1.        ],
       [ 99.53146255,   1.        ,  21.        ,   0.        ,
          0.        ],
       [101.7826493 ,   0.        ,  97.        ,   1.        ,
          0.        ],
       [100.5987218 ,   0.        ,  12.        ,   1.        ,
          0.        ],
       [ 98.34253365,   1.        ,  61.        ,   0.        ,
          0.        ],
       [ 98.81154964,   1.        ,  43.        ,   1.        ,
          0.        ],
       [ 99.7723299 ,   0.        , 100.        ,   1.        ,
          0.        ],
       [ 98.72355881,   1.        ,  82.        ,   1.        ,
          1.        ],
       [ 99.10954914,   1.        ,  47.        ,   0.        ,
          0.        ],
       [ 98.52203723,   0.        ,  99.        ,   1.        ,
          1.        ],
       [ 98.85780614,   1.        ,  20.        ,   0.        ,
          1.        ],
       [ 98.45530328,   0.        ,  77.        ,   0.        ,
          1.        ],
       [101.8952834 ,   1.        ,  90.        ,   0.        ,
          0.        ],
       [ 98.5788823 ,   1.        ,  15.        ,   1.        ,
          0.        ],
       [101.2571491 ,   0.        ,   6.        ,   0.        ,
          1.        ],
       [101.5044637 ,   1.        ,   7.        ,   1.        ,
          1.        ],
       [ 98.36257152,   0.        ,  65.        ,   0.        ,
          0.        ],
       [ 98.25282051,   1.        ,  60.        ,   1.        ,
          1.        ],
       [100.1653751 ,   1.        ,  99.        ,   1.        ,
          0.        ],
       [101.0103519 ,   1.        ,  71.        ,   1.        ,
          0.        ],
       [101.8809013 ,   1.        ,   7.        ,   1.        ,
          0.        ],
       [100.6787159 ,   0.        ,  26.        ,   1.        ,
          1.        ],
       [ 98.51487921,   1.        ,  16.        ,   0.        ,
          0.        ],
       [ 98.75171567,   0.        ,  89.        ,   1.        ,
          1.        ],
       [100.0071912 ,   0.        ,  79.        ,   0.        ,
          0.        ],
       [100.3476162 ,   1.        ,  18.        ,   1.        ,
          0.        ],
       [ 98.49604395,   0.        ,  59.        ,   0.        ,
          1.        ],
       [ 99.20927313,   1.        ,  83.        ,   1.        ,
          0.        ],
       [100.7158336 ,   1.        ,  15.        ,   1.        ,
          0.        ],
       [ 99.18105402,   1.        ,  72.        ,   0.        ,
          0.        ],
       [100.4449749 ,   0.        ,  24.        ,   0.        ,
          1.        ],
       [ 99.80747632,   1.        , 101.        ,   1.        ,
          0.        ],
       [ 98.29639552,   0.        ,  11.        ,   1.        ,
          1.        ],
       [ 98.32686736,   0.        ,  10.        ,   0.        ,
          0.        ],
       [101.0392446 ,   1.        ,  28.        ,   0.        ,
          0.        ],
       [ 99.49747605,   0.        ,  40.        ,   1.        ,
          1.        ],
       [ 99.53107222,   1.        ,  88.        ,   0.        ,
          1.        ],
       [ 98.84831261,   1.        ,  14.        ,   0.        ,
          1.        ],
       [ 99.09847497,   0.        ,  44.        ,   1.        ,
          1.        ],
       [101.8361547 ,   1.        ,  77.        ,   0.        ,
          1.        ],
       [100.6077417 ,   1.        ,   9.        ,   0.        ,
          0.        ],
       [ 99.46963447,   0.        ,  97.        ,   1.        ,
          0.        ],
       [ 99.4824497 ,   0.        ,  31.        ,   0.        ,
          1.        ],
       [100.207501  ,   1.        ,  38.        ,   1.        ,
          0.        ],
       [ 99.41249498,   1.        ,  44.        ,   0.        ,
          0.        ],
       [ 99.03429892,   1.        ,  11.        ,   0.        ,
          1.        ],
       [101.8050787 ,   1.        ,  60.        ,   0.        ,
          1.        ],
       [101.33726   ,   1.        ,  38.        ,   1.        ,
          1.        ],
       [ 98.21272236,   0.        ,  57.        ,   0.        ,
          1.        ],
       [100.4137278 ,   1.        ,  20.        ,   1.        ,
          0.        ],
       [ 99.7138395 ,   1.        ,  29.        ,   1.        ,
          1.        ],
       [101.7770869 ,   1.        ,  27.        ,   0.        ,
          0.        ],
       [101.3320707 ,   0.        ,  10.        ,   1.        ,
          0.        ],
       [101.7093468 ,   0.        ,  82.        ,   0.        ,
          0.        ],
       [ 98.30378235,   1.        ,  58.        ,   0.        ,
          1.        ],
       [101.4537221 ,   0.        ,  64.        ,   0.        ,
          0.        ],
       [ 99.11810941,   0.        ,  46.        ,   1.        ,
          1.        ],
       [ 98.08532929,   1.        , 102.        ,   0.        ,
          1.        ],
       [ 98.56912334,   0.        ,  71.        ,   1.        ,
          1.        ],
       [ 99.05053247,   0.        ,  49.        ,   1.        ,
          1.        ],
       [ 99.66378236,   1.        ,  21.        ,   1.        ,
          1.        ],
       [ 99.63050703,   0.        ,  58.        ,   1.        ,
          0.        ],
       [ 98.05122724,   0.        ,  31.        ,   1.        ,
          0.        ],
       [ 98.63564342,   0.        ,  56.        ,   1.        ,
          1.        ],
       [101.3892464 ,   0.        ,  23.        ,   1.        ,
          1.        ],
       [ 98.34414473,   0.        ,  35.        ,   0.        ,
          0.        ],
       [101.7162811 ,   0.        ,  98.        ,   1.        ,
          0.        ],
       [ 98.34902802,   0.        ,  59.        ,   0.        ,
          0.        ],
       [ 99.76061484,   1.        ,   1.        ,   0.        ,
          0.        ],
       [101.8921163 ,   0.        ,  83.        ,   0.        ,
          0.        ],
       [101.9637293 ,   0.        ,  21.        ,   0.        ,
          1.        ],
       [ 99.06989446,   0.        ,  25.        ,   1.        ,
          1.        ],
       [ 99.55530784,   1.        ,  14.        ,   0.        ,
          0.        ],
       [ 98.32604103,   0.        , 101.        ,   1.        ,
          1.        ],
       [ 98.11443827,   1.        ,   4.        ,   1.        ,
          1.        ],
       [100.4294546 ,   0.        ,  43.        ,   1.        ,
          0.        ],
       [ 99.37498774,   0.        , 101.        ,   1.        ,
          1.        ],
       [100.8439217 ,   1.        ,  33.        ,   0.        ,
          0.        ],
       [ 98.60666318,   0.        ,  97.        ,   1.        ,
          1.        ],
       [100.9309812 ,   0.        ,  36.        ,   1.        ,
          0.        ],
       [100.5864076 ,   1.        ,  71.        ,   1.        ,
          0.        ],
       [101.5808639 ,   1.        ,  50.        ,   1.        ,
          0.        ],
       [ 99.05214044,   1.        ,  15.        ,   1.        ,
          0.        ],
       [100.3678933 ,   1.        ,  44.        ,   0.        ,
          1.        ],
       [100.9329088 ,   0.        ,  41.        ,   0.        ,
          0.        ],
       [ 99.73087773,   0.        ,  69.        ,   1.        ,
          0.        ],
       [ 98.4512855 ,   1.        ,  40.        ,   0.        ,
          0.        ],
       [ 98.56716503,   1.        ,  57.        ,   0.        ,
          0.        ],
       [ 99.15375218,   1.        ,  41.        ,   1.        ,
          0.        ],
       [ 98.29558867,   1.        ,  94.        ,   1.        ,
          0.        ],
       [100.9262517 ,   0.        ,  63.        ,   1.        ,
          0.        ],
       [ 99.30991886,   1.        ,  87.        ,   1.        ,
          0.        ],
       [ 99.63911942,   1.        ,  98.        ,   0.        ,
          1.        ],
       [100.5674554 ,   1.        ,  35.        ,   1.        ,
          0.        ],
       [100.3120414 ,   0.        ,   8.        ,   1.        ,
          0.        ],
       [ 99.75503547,   0.        ,  94.        ,   0.        ,
          1.        ],
       [100.1167909 ,   0.        ,  16.        ,   0.        ,
          1.        ],
       [ 98.90332252,   1.        ,  62.        ,   0.        ,
          0.        ]])

In [46]:
trainArray2 = train[['probabilityInfection']].to_numpy().reshape(480 ,)
testArray2 = test[['probabilityInfection']].to_numpy().reshape(119 ,)

In [47]:
trainArray2

array([0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [48]:
testArray2

array([0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 1], dtype=int64)

In [49]:
from sklearn.linear_model import LogisticRegression

In [50]:
clf = LogisticRegression()
clf.fit(trainArray1, trainArray2)

LogisticRegression()

In [55]:
sampleInput1 = [100.3223, 1, 23, 0, 1]
sampleOutputPrediction1 = clf.predict([sampleInput1]) #to get the prediction

NameError: name 'firstclf' is not defined

In [54]:
 sampleOutputProbability1 = clf.predict_proba([[100.3223, 1, 23, 0, 1]]) #to get the probability

array([[0.60871637, 0.39128363]])